.region-style {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.row:after {
    content: '';
    display: block;
    clear: both;
}

.region-zone {
    border-style: dotted;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #2e2b2d;
    background: #eef3f3;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.default-null-region {
    width: 100%;
    float: left;
    min-height: 150px;
    border-style: dotted;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #2e2b2d;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    background: repeating-linear-gradient(
            to right,
            #ffeaec,
            #fffff9 10px,
            #ffeaec 10px,
            #fffff9 20px
    );
}
.draggable-element {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    border-style: dotted;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #07044f;
    display: inherit;
    text-align: left;
    font-weight: bold;
}
.action-item {
    float: right;
    margin-right: 5px;
}
.draggable-element::after{
    content: '';
    display: block;
    clear: both;
}
.panels-dnd {
    margin-bottom: 10px;
    margin-top: 10px;
}

.image-style-widget-preview {
    width: 100%;
}

.width50-1 {
    width: 49%;
    min-height: 150px;
    float: left;
}
.width50-2 {
    width: 49%;
    min-height: 150px;
    margin-left: 2%;
    float: left;
}
.width100 {
    clear: left;
    min-height: 150px;
}

.width25-1 {
    width: 24%;
    min-height: 150px;
    float: left;
}
.width25-50 {
    width: 50%;
    min-height: 150px;
    margin-left: 1%;
    float: left;
}
.width25-2 {
    width: 24%;
    min-height: 150px;
    margin-left: 1%;
    float: left;
}
.width33-1 {
    width: 32%;
    min-height: 150px;
    float: left;
}
.width34 {
    width: 34%;
    margin-left: 1%;
    min-height: 150px;
    float: left;
}
.width33-2 {
    width: 32%;
    margin-left: 1%;
    min-height: 150px;
    float: left;
}


