<div class="region-zone region-style width100" id="region-top" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="top">
  <center><strong>Top Region</strong></center>
</div>

<div class="region-zone region-style width50-1" id="region-first_above" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="first_above">
  <center><strong>First above Region</strong></center>
</div>
<div class="region-zone region-style width50-2" id="region-second_above" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="second_above">
  <center><strong>Second above Region</strong></center>
</div>

<div class="region-zone region-style width100" id="region-middle" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="middle">
  <center><strong>Middle Region</strong></center>
</div>

<div class="region-zone region-style width50-1" id="region-first_below" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="first_below">
  <center><strong>First below Region</strong></center>
</div>
<div class="region-zone region-style width50-2" id="region-second_below" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="second_below">
  <center><strong>Second below Region</strong></center>
</div>

<div class="region-zone region-style width100" id="region-bottom" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="bottom">
  <center><strong>Bottom Region</strong></center>
</div>


