<div>
  <div class="region-zone region-style width100" id="region-content" ondrop="drop(this, event)"
       ondragover="allowDrop(event)" data-region="content">
    <center><strong>Content Region</strong></center>
  </div>
</div>

