<div class="region-zone region-style width100" id="region-top" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="top">
  <center><strong>Top Region</strong></center>
</div>
<div class="row">
  <div class="region-zone region-style width33-1" id="region-first" ondrop="drop(this, event)"
       ondragover="allowDrop(event)" data-region="first">
    <center><strong>First Region</strong></center>
  </div>
  <div class="region-zone region-style width34" id="region-second" ondrop="drop(this, event)"
       ondragover="allowDrop(event)" data-region="second">
    <center><strong>Second Region</strong></center>
  </div>
  <div class="region-zone region-style width33-2" id="region-third" ondrop="drop(this, event)"
       ondragover="allowDrop(event)" data-region="third">
    <center><strong>Third Region</strong></center>
  </div>
</div>
<div class="region-zone region-style width100" id="region-bottom" ondrop="drop(this, event)"
     ondragover="allowDrop(event)" data-region="bottom">
  <center><strong>Bottom Region</strong></center>
</div>


