<div class="row">
  <div class="default-null-region region-zone" id="region-null" ondrop="drop(this, event)"
       ondragover="allowDrop(event)" data-region="">
    <center><strong>Default (No render) region</strong></center>
  </div>
</div>
<div class="region-zone visually-hidden" id="region-null-visually-hidden" data-region=""></div>

